body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: #0C2C43;

}
nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 12px 0px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
nav img {
  width: 5%;
  border-radius: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    color: #FFF;
    transition: color 0.3s;
}

nav ul a:hover {
    color: #80A470;
}

#heros {
    background-image: url("img-Heros.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#heros button {
    cursor: pointer;
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: #0C2C43;
    color: #ffffff;
} 

#heros button:hover {
    background-color: #80A470;
}


.hero-text {
    width: 90%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 35px;
    line-height: 2;
    margin-top: 50px;
}

.hero-text p {
    font-size: 25px;
}

#services {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
#services h2 {
   font-size: 35px;
   text-align: center;
   margin-top: 40px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service {
    margin-top: 50px;
    width: 32%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.service img {
  width: 30%;
   margin-top: 30px; 
 
}
.service h3 {
   font-size: 20px;
}
.service p {
    line-height: 1.4;
}

#a_propos {
    background-color: #0C2C43;
    padding-top: 25px;
    
}
#a_propos h2 {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}

#a_propos .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.gauche, .droit {
   width: 50%;
}
.gauche {
    color: #ffffff;
}

.gauche p {
    font-size: 25px;
    line-height: 1.4;
}
.droit{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 20px;
    
}
.droit img {
    width: 70%;
    /* margin-left: 20%;
    padding: 20px; */
    display: flex;
    align-items: center;
}

#temoignages {
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
#temoignages h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temoin {
    width: 30%;
    padding: 16px 12px;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.div_haut {
    display: flex;
    align-items: center;
    width: 100%;
}
.img_temon {
    border: 1px solid rgb(121, 118, 118);
    border-radius: 50px;
    width: 20%;
}
.div_haut .nom_temoin {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    line-height: 2;
}

.quote {
   margin-left: 120px;
}

.nom_temoin img {
    width: 85%;
}
.div_haut .nom_temoin h6 {
    font-size: 15px;
    margin: 0;
    padding: 0;
}




