body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: #0C2C43;

}
nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 12px 0px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
nav img {
  width: 5%;
  border-radius: 50px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    margin-left: 25px;
    font-size: 20px;
    color: #FFF;
    transition: color 0.3s;
}

nav ul a:hover {
    color: #80A470;
}

#heros {
    background-image: url("img-Heros.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#heros button {
    cursor: pointer;
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    background-color: #0C2C43;
    color: #ffffff;
} 

#heros button:hover {
    background-color: #80A470;
}


.hero-text {
    width: 90%;
    margin: 0 auto;
    color: #ffffff;
    font-size: 35px;
    line-height: 2;
    margin-top: 50px;
}

.hero-text p {
    font-size: 25px;
}

#services {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
}
#services h2 {
   font-size: 35px;
   text-align: center;
   margin-top: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.service { 
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
     margin: 12px;
    padding: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.service img {
  width: 30%;
   margin-top: 20px; 
 
}
.service h3 {
   font-size: 20px;
   margin: 0;
   padding: 0;
}
.service p {
    line-height: 1.4;
    font-size: 18px;
    width: 90%;
}

#a_propos {
    background-color: #0C2C43;
    padding-top: 25px;
    
}
#a_propos h2 {
    font-size: 35px;
    color: #ffffff;
    text-align: center;
}

#a_propos .div_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.gauche, .droit {
   width: 50%;
}
.gauche {
    color: #ffffff;
}

.gauche p {
    font-size: 25px;
    line-height: 1.4;
}
.droit{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 20px;
    
}
.droit img {
    width: 70%;
    display: flex;
    align-items: center;
}

#temoignages {
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
#temoignages h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temoin {
    width: 30%;
    padding: 16px 12px;
    background-color: #F5F5F5;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 160px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}



.div_haut {
    display: flex;
    align-items: center;
    width: 100%;
}
.img_temon {
    border: 1px solid rgb(121, 118, 118);
    border-radius: 50px;
    width: 20%;
}
.div_haut .nom_temoin {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    line-height: 2;
}

.quote {
   margin-left: 120px;
}

.nom_temoin img {
    width: 85%;
}
.div_haut .nom_temoin h6 {
    font-size: 15px;
    margin: 0;
    padding: 0;
}


#contact {
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

#contact h2 {
    font-size: 35px;
    text-align: center;
}

.form_box {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: auto;
    margin-bottom: 30px;
}

form {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 0px;
}

form input {
    border: 1px solid #8C9CA4;
    box-shadow: 1px 1px 1px #8C9CA4;
    background: transparent;
    border-radius: 7px;
    padding: 13px;
    margin: 12px;
    width: 82%;
}

form label {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-top: 12px;
}

.textarea {
   flex-direction: column
}

.textarea textarea {
    border: 1px solid #8C9CA4;
    box-shadow: 1px 1px 1px #8C9CA4;
    background: transparent;
    border-radius: 7px;
    padding: 20px;
    margin: 12px;
    width: 80%;
    outline: none;
    resize: none;
    height: 72%; 
}

#btn{
    cursor: pointer;
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 10px;
    text-align: center;
    border: none;
    background-color: #0C2C43;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 87.5%;
    margin-top: 30px;
}

.maps {
    margin-top: 20px;
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
    padding-right: 12px;
}

.adressse_tel {
    color: #0C2C43;
    margin-right: 240px;
}

.adressse_tel a {
    color: #8C9CA4;
}

.adressse_tel a:hover {
    color: #0C2C43;
}

footer {

    background-color: #0C2C43;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}


footer img {
    width: 20%;
    height: 10%;
    margin-right: 2px;
}

.toggle_menu {
    display: none;
}

@media (max-width: 920px) {
    nav ul li a {
        font-size: 16px;
    }
    .hero-text {
        font-size: 20px;
    }

    .services h2 {
        font-size: 30px;
    }

    .service {
        margin: 0;
        font-size: 16px;
        margin-left: 10px;
        height: 200px;
    }
    .service h3 {
        font-size: 15px;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .service img {
        margin: 0;
    }

    .service p {
        font-size: 14px;
    }
    .service p br {
        display: none;
    }

    #a_propos h2 {
        font-size: 30px;
    }
    .gauche p{
        font-size: 16px;
        line-height: 1.5;
    }

    #temoignages h2{
        font-size: 30px;
    }
    .temoin {
        margin-left: 20px;
        margin: 0;
        padding: 9px;
        margin-left: 15px;
        height: 175px;
    }
    .temoin p {
       font-size: 13px;
    }
    .div_haut {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

    }
    .nom_temoin {
       display: flex;
       margin-right: 30px;
    }
    .nom_temoin h6 {
      font-size: 9px;
      margin: 0;
      padding: 0;
    }
    .img_temon {
       width: 50px;
       margin: 0;
    }
    .quote {
        margin: 0;
    }

    #contact {
        margin-bottom: 20px;
    }
    #contact h2 {
        font-size: 30px;
    }
    .form_box {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form button {
        width: 93%;
    }
    form input {
        outline: none;
        width: 84%;
    }
    .maps {
        display: flex;
        align-items: center;
    }
    .adressse_tel {
        font-size: 16px;
        margin-left: 100px;
    }
    iframe {
        width: 90%;
        
    }

}


@media  (max-width: 768px){
    nav ul {
        display: none;
    }
    nav img {
        width: 10%;
    }
    .hero-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 21px;
        text-align: center;
        margin: 0;
        margin-top: 20px;
        padding: 0;
        line-height: 1.5;
    }
    .hero-text p {
        font-size: 19px;
    }

    #services h2 {
        font-size: 24px;
    }

    .container {
        flex-direction: column;
        margin: 0;
    }

    .service {
       width: 80%;
       padding: 15px;
       margin-bottom: 15px;
    }
    .service P br {
        display: none;
        align-items: center;
        text-align: center;
    }

    .service h3 {
        text-align: center;
        font-size: 18px;
    }

    #a_propos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #a_propos h2{
        font-size: 24px;
        text-align: center;
    }

    #a_propos .div_container{
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .gauche {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .gauche p {
        font-size: 16px;
        text-align: justify;  
        margin: 0;
    }

    .droit {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .droit img {
        width: 280px;
    }

    #temoignages {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #temoignages h2 {
        font-size: 24px;
        text-align: center;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
    }

    .temoin {
        width: 70%;
        padding: 20px;
        margin-bottom: 20px;
    }

    .temoin p {
        font-size: 16px;
    }

    .div_haut .nom_temoin h6 {
        font-size: 15px;
        
    }

    .nom_temoin {
        display: flex;
        align-items: center;
        text-align: center;
    }
    
    #contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #contact h2 {
        font-size: 24px;
        text-align: center;
        margin: 0;
    }

    .form_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    form {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
    }

    form label {
       display: flex;
       align-items: flex-start;
       flex-direction: column;
    }
    form input {
        display: flex;
        align-items: center;
        
    }
    .textarea {
        width: 80%;
    }

    #btn {
        display: flex;
        align-items: start;
        justify-content: center;
        width: 75%;
        margin: 0;
        margin-top: 10px;
    }

    .maps {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        margin-top: 20px;
        padding: 0;
    }

    .adressse_tel {
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        margin: 0;
    }

     .toggle_menu {
            display: flex;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
    
        }
    
        .toggle_menu::before {
            position: absolute;
            content: "";
            height: 3px;
            width: 28px;
            background-color: #80A470;
            border-radius: 6px;
            box-shadow: 0 10px 0 #80A470;
            transform: translateY(-10px);
            transition: 0.5s;
        }
    
        .toggle_menu.active::before {
            transform: translateY(0) rotate(135deg);
            box-shadow: 0 0 0 #80A470;
        }
    
        .toggle_menu::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 28px;
            background-color: #80A470;
            border-radius: 6px;
            transform: translateY(10px);
            transition: 0.5s;
        }
    
        .toggle_menu.active::after {
            transform: translateY(0) rotate(-135deg);
        }

                nav .menu.responsive ul {
                    max-width: 15px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
        
        
                nav .menu.responsive {
                    display: flex;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    right: 0; 
                    display: flex;
                    height: 280px;                  
                    align-items: center;
                    justify-content: center;
                    background-color: #0C2C43;
                    flex-direction: column;
                }

                nav .menu.responsive li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 20px;
                }
        
                nav .menu li a {
                    color: #ffffff;
                    cursor: pointer;
                    font-size: 18px;
                    margin-bottom: 10px;
                }

    
}

@media (max-width: 430px) {
    nav ul {
        display: none;
    }

    .hero-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 1.5;
    }

    .hero-text p {
        font-size: 18px;
    }

    #services h2 {
        font-size: 24px;
    }

    .container {
        flex-direction: column;
        margin: 0;
    }

    .service {
        width: 80%;
        padding: 15px;
    }

    .service h3 {
        text-align: center;
        font-size: 18px;
    }

    #a_propos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #a_propos h2 {
        font-size: 24px;
        text-align: center;
    }

    #a_propos .div_container {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
    }

    .gauche p {
        font-size: 20px;
        text-align: justify;
    }

    .droit {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .droit img {
        width: 200px;
    }

    #temoignages {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #temoignages h2 {
        font-size: 24px;
        text-align: center;
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .temoin {
        width: 70%;
        padding: 20px;
        margin-bottom: 20px;
    }

    .temoin p {
        font-size: 16px;
    }

    .img_temon {
        width: 50%;
    }

    .div_haut .nom_temoin h6 {
        font-size: 15px;

    }

    .nom_temoin {
        display: flex;
        align-items: center;
        text-align: center;
    }

    #contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #contact h2 {
        font-size: 24px;
        text-align: center;
    }

    .form_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    form {
        display: flex;
        justify-content: center;
    }

    form button {
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .maps {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    iframe {
        width: 150%;
        height: 200px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .adressse_tel {
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

        .toggle_menu {
             display: flex;
             height: 40px;
             width: 40px;
             align-items: center;
             justify-content: center;
             position: relative;
             cursor: pointer;
    
        }
    
        .toggle_menu::before {
             position: absolute;
             content: "";
             height: 3px;
             width: 28px;
             background-color: #80A470;
             border-radius: 6px;
             box-shadow: 0 10px 0 #80A470;
             transform: translateY(-10px);
             transition: 0.5s;
        }
    
        .toggle_menu.active::before {
             transform: translateY(0) rotate(135deg);
             box-shadow: 0 0 0 #80A470;
        }
    
        .toggle_menu::after {
             position: absolute;
             content: "";
             height: 3px;
             width: 28px;
             background-color: #80A470;
             border-radius: 6px;
             transform: translateY(10px);
             transition: 0.5s;
        }
    
        .toggle_menu.active::after {
             transform: translateY(0) rotate(-135deg);
        }
    
        nav .menu.responsive ul {
             max-width: 15px 0;
             display: flex;
             align-items: center;
             justify-content: center;
        }
    
         nav .menu.responsive {
             display: flex;
             position: absolute;
             top: 30px;
             left: 0;
             right: 0;
             display: flex;
             height: 250px;
             align-items: center;
             justify-content: center;
             background-color: #0C2C43;
             flex-direction: column;
         }
    
        nav .menu li a {
             color: #ffffff;
             cursor: pointer;
             font-size: 18px;
             margin-bottom: 10px;
    
        }

        nav img {
            width: 9%;
            border-radius: 50px;
       }
}




